<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranaz</title>
  <link rel="icon" href="/user/img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/user/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/user/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="/user/css/nice-select.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/user/css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/user/css/flaticon.css">
  <link rel="stylesheet" href="/user/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/user/css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/user/css/slick.css">
  <link rel="stylesheet" href="/user/css/price_rangs.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/user/css/style.css">
</head>