<%- include('./partials/head') %>
  <!-- Header part end-->
  <%- include('./partials/navbar') %>



  <div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
    <div >
        <h1>internal server error</h1>
<h2>500</h2>
<!-- <pre><%= error.stack %></pre> -->
    </div>
  </div>

<%- include('./partials/footer') %>