<link rel="stylesheet" href="/validate-password-requirements/css/jquery.passwordRequirements.css" />
<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-body">
            <h2>Change Password</h2>
            <form id="resetPasswordForm" action="/newpassword" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" style="cursor: no-drop;" class="form-control" id="email" placeholder="email"
                        name="email" value="<%=email%>" required readonly>

                </div>
                <div class="form-group">
                    <label for="newPassword">Current Password:</label>
                    <input type="password" class="form-control" id="currentPassword"
                        placeholder="Enter current password" name="currentPassword" required>
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control pr-password " id="newPassword" placeholder="Enter new password"
                        name="newPassword" required>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Enter new password"
                        name="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            event.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'The new password and the confirmation password do not match. Please try again.'
            });
        }
    });

</script>
<script src="/validate-password-requirements/js/jquery.passwordRequirements.min.js"></script>
<script>

$(".pr-password").passwordRequirements({
  numCharacters: 8,
  useLowercase: true,
  useUppercase: true,
  useNumbers: true,
  useSpecial: true,
  fadeTime: 500,
  

});
function checkForm(e) {
  
  const otp = document.querySelector('input[name="otp"]');
  const password = document.querySelector('input[name="password"]');
  if (!otp.value.trim() || !password.value.trim()) {
    e.preventDefault();
    alert('Please fill out the OTP and password fields');
  }

  if (!$(password).passwordRequirements('isValid')) {
        e.preventDefault();
        alert('Your password does not meet the requirements. Please try again.');
        return false; 
    }
}

</script>