<div class="col-lg-8 col-md-10 col-sm-12">
    <h2>Change Password</h2>
    <form id="resetPasswordForm" action="/newpassword" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" style="cursor: no-drop;" class="form-control" id="email" placeholder="email" name="email" value="<%=email%>" required readonly>

        </div>
        <div class="form-group">
            <label for="newPassword">Current Password:</label>
            <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password" name="currentPassword" required>
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" name="newPassword" required>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Enter new password" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if (newPassword !== confirmPassword) {
        event.preventDefault();
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'The new password and the confirmation password do not match. Please try again.'
        });
    }
});

</script>