<div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
       <h2>user datataafvdfgvdfs</h2>
     
    
 
    
        
      </div>
    </div>
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
   $(".btn-edit").click(function(e) {
    e.preventDefault();
    window.location.href = '/account';
});


  </script>