  <!-- Header part end-->
  <%- include('../partials/head') %>



  <%- include('../partials/navbar') %>
  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->


  <link rel="stylesheet" href="/validate-password-requirements/css/jquery.passwordRequirements.css" />
        
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top">
    <div class="container">
    
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h2 style="padding-bottom: 20px;">Sign up</h2>
            <div>
              
                
                
          </div>
          <% if (messages.info) { %>
            <div class="alert alert-danger" id="alert">
           
              <%= messages.info %>
            </div>
          <% } %>
          
            <form class="row contact_form"  onsubmit="checkForm(event)" action="signup" method="post" >
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" placeholder="first name"  name="first_name"  oninput="if (this.value.trim() === '') {this.value = '';}"  required/>
                
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="last" placeholder="last name" name="last_name"  oninput="if (this.value.trim() === '') {this.value = '';}"   required/>
              
              </div>
             
              <div class="col-md-6 form-group p_star">
                <input type="number" class="form-control" id="number" placeholder="phone no" name="phone"   oninput="if (this.value.trim() === '') {this.value = '';}"  required/>
                
              </div>
              <div class="col-md-6 form-group p_star">
                <p id="mess"></p>
                <div style="display: flex; justify-content: space-between;">
                  <input type="email" class="form-control" id="email" placeholder="email" name="email"  style="flex-grow: 1; margin-right: 10px;"  oninput="if (this.value.trim() === '') {this.value = '';}"   required/>
                  <button class="btn btn-outline-secondary" type="button" id="otpButton">OTP</button>
                  
                </div>
                <p id="otpTimer" style="color: tomato;"></p>
              </div>
              
              
              <div class="col-md-6 form-group p_star" style="margin-left: auto;">
                <input type="password" class="form-control" placeholder="OTP" id="otp" name="otp"  required/>
              
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="password" class=" pr-password form-control" placeholder="Password" id="password" name="password" style="margin-bottom: 2%;" required/>
                <input type="checkbox" onclick="showPassword()"> Show Password
            </div>
           
            <div class="col-md-12 form-group p_star">
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password"  name="confirm_password" required/>
                
            </div>
            
              
              
              <div class="d-grid gap-2" style="margin-left: auto;margin-right: auto;">
                <button class="btn btn-primary"   type="submit" >Create Account</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  <!--================End Checkout Area =================-->

  <!--::footer_part start::-->
  <%- include('../partials/footer') %>

  <!--::footer_part end::-->
  <script>
    window.onload = function() {
              setTimeout(function() {
                var alert = document.getElementById('alert');
                if(alert) alert.remove()
              }, 3000);
            }
   

            
const emailInput = document.getElementById('email');
const otpButton = document.getElementById('otpButton');
const otpTimer = document.getElementById('otpTimer');

// Email validation regex
const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

otpButton.addEventListener('click', (event) => {
  event.preventDefault();

  if (!emailRegex.test(emailInput.value)) {
    document.getElementById('mess').innerText = 'Please enter a valid email address.';
} else {
  disableButton();
    fetch('generateOtp', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email: emailInput.value })
    })
    .then((response) => {
        if(response.ok) {
            document.getElementById('mess').innerText = 'OTP has been sent to your email';
        } else {
            throw new Error('Request failed');
        }
    })
    .catch((error) => {
        console.log(error);
        document.getElementById('mess').innerText = 'An error occurred please comme back later';
    });
}

});

// Function to disable the button for 2 minutes
function disableButton() {
  otpButton.disabled = true;
  startCountdown();
}

function startCountdown() {
  let timeLeft = 30;
  const countdownTimer = setInterval(() => {
    timeLeft--;
    otpTimer.innerText = 'Please wait ' + timeLeft + ' seconds';
    if(timeLeft <= 0) {
      otpButton.innerText = 'Resend';
      clearInterval(countdownTimer);
      otpTimer.innerText = 'Try again';
      otpButton.disabled = false;
    }
  }, 1000);
}





// Assuming you have a button with id 'otpButton'


var password = document.getElementById("password");
var confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

function showPassword() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
        passwordInput.type = "text";
    } else {
        passwordInput.type = "password";
    }
}


    </script>
  
    
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/user/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/user/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/user/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/user/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/user/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/user/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/user/js/slick.min.js"></script>
  <script src="/user/js/jquery.counterup.min.js"></script>
  <script src="/user/js/waypoints.min.js"></script>
  <script src="/user/js/contact.js"></script>
  <script src="/user/js/jquery.ajaxchimp.min.js"></script>
  <script src="/user/js/jquery.form.js"></script>
  <script src="/user/js/jquery.validate.min.js"></script>
  <script src="/user/js/mail-script.js"></script>
  <script src="/user/js/stellar.js"></script>
  <script src="/user/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/user/js/custom.js"></script>
 
  <script src="/validate-password-requirements/js/jquery.passwordRequirements.min.js"></script>
<script>

$(".pr-password").passwordRequirements({
  numCharacters: 8,
  useLowercase: true,
  useUppercase: true,
  useNumbers: true,
  useSpecial: true,
  fadeTime: 500,
  

});
function checkForm(e) {
  
  const otp = document.querySelector('input[name="otp"]');
  const password = document.querySelector('input[name="password"]');
  if (!otp.value.trim() || !password.value.trim()) {
    e.preventDefault();
    alert('Please fill out the OTP and password fields');
  }

  if (!$(password).passwordRequirements('isValid')) {
        e.preventDefault();
        alert('Your password does not meet the requirements. Please try again.');
        return false; 
    }
}

</script>

</body>

</html>