<%- include('../partials/head') %>
  <!-- Header part end-->
  <%- include('../partials/navbar') %>
  

  
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->

    <!-- breadcrumb start-->

    <!--================Cart Area =================-->
    <section class="h-100 h-custom" style="background-color: #ffffff; margin-top: 3%;">
      <div class="container py-5 h-100">
      <h1>Your Wallet Balance is:<span style="color: red;"><%= user.wallet %></span> </h1>
      </div>

      <div class="container">
        
      </div>
    </section>
    <!--================End Cart Area =================-->

    <!--::footer_part start::-->

    <%- include('../partials/footer') %>
    <!--::footer_part end::-->


    <script src="/user/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/user/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/user/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/user/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/user/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/user/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/userjs/slick.min.js"></script>
    <script src="/userjs/jquery.counterup.min.js"></script>
    <script src="/userjs/waypoints.min.js"></script>
    <script src="/userjs/contact.js"></script>
    <script src="/userjs/jquery.ajaxchimp.min.js"></script>
    <script src="/userjs/jquery.form.js"></script>
    <script src="/userjs/jquery.validate.min.js"></script>
    <script src="/userjs/mail-script.js"></script>
    <script src="/userjs/stellar.js"></script>
    <script src="/userjs/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/user/js/cartscript.js"></script>
    </body>
   

    </html>